.header { background: $head-bg; }
#.header { background: url('../image/avatar.png') }
.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
